@model UserRegistration.Models.UserDetails

@{
    ViewData["Title"] = "AddUserDetails";
}

<h1>AddUserDetails</h1>

<h4>UserDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserDetails">
            <h2>User Details</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <h2>User Address</h2>
            <div class="form-group">
                <label asp-for="UserAddress.StreetNumber" class="control-label"></label>
                <input asp-for="UserAddress.StreetNumber" class="form-control" />
                <span asp-validation-for="UserAddress.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.StreetName" class="control-label"></label>
                <input asp-for="UserAddress.StreetName" class="form-control" />
                <span asp-validation-for="UserAddress.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.Suite" class="control-label"></label>
                <input asp-for="UserAddress.Suite" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.City" class="control-label"></label>
                <input asp-for="UserAddress.City" class="form-control" />
                <span asp-validation-for="UserAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.Province" class="control-label"></label>
                <input asp-for="UserAddress.Province" class="form-control" />
                <span asp-validation-for="UserAddress.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.Country" class="control-label"></label>
                <input asp-for="UserAddress.Country" class="form-control" />
                <span asp-validation-for="UserAddress.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.PostalCode" class="control-label"></label>
                <input asp-for="UserAddress.PostalCode" class="form-control" />
                <span asp-validation-for="UserAddress.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
